<div id="category_main">

<div id="feed_info" class="header_info">
	<h1>Create new feed</h1> 
</div>

<hr />

	<%= render 'form' %>


</div><!-- #category_main -->

<%= render "shared/feeds_list", :category => @category %>

