<div id="category_main">

<div id="category_info" class="header_info">
	<h1>Create new category</h1> 
</div>

<hr />

	<%= render 'form' %>


</div><!-- #category_main -->

<%= render "shared/categories_list", :categories => @categories %>

